<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position</title>

    <style>
        #div1{
            background: rgba(255, 0, 0, .5);
            padding: 10px;
            width: 90%;
            position: sticky;
            height: 200px;
            top: 0;
            bottom: 0;
        }
    
        #div2{
            background: rgba(0, 255, 0, .5);
            padding: 10px;
            width: 80%;
            height: 50px;
            position: static;
           
        }

        #div3{
            background: rgba(0, 0, 255, .5);
            padding: 10px;
            width: 30px;
            height: 30px;
            position: static;
            top: 20px;
            right: 0;

        }
    </style>
</head>
<body>
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>

    <div id="div1">
        1
        <div id="div2">
            2
            <div id="div3">3</div>
        </div>
    </div>
        
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, et quae voluptate est quas repudiandae non iure adipisci quasi similique rerum. Voluptatum laudantium optio fuga!</p>
</body>
</html>